.idea/
vendor/
core/config/config.local.php
core/config/config.php
apps/frontend/cache/volt/*
tests/_output
PayPal.log
sftp-config.json
.DS_Store
public/.DS_Store
public/images/.DS_Store
opsfiles/.vagrant
/Dockerfile
/content/tmp/*
/content/data/*
/content/themes/*
!/content/themes/README.md
/content/images/*
/content/uploads/*
!/content/themes/default/
!/content/uploads/README.md
!/README.md/*
content/options/options.php
#css
#public/css/custom.css

tests/_support/_generated/*.php
selenium-server-standalone-*.jar
