commands:
    02_phalcon_install:
        # run this command from /tmp directory
        cwd: /tmp
        # don't run the command if phalcon is already installed (file /etc/php.d/phalcon.ini exists)
        test: '[ ! -f /etc/php.d/phalcon.ini ] && echo "phalcon not installed"'
        # executed only if test command succeeds
        command: |
            git clone --depth=1 git://github.com/phalcon/cphalcon.git \
            && cd cphalcon/build \
            && ./install \
            && echo extension=phalcon.so > /etc/php.d/phalcon.ini \
            && rm -rf ./cphalcon
