.analytic-hide{
    display: none;
}
.tag-suggestion {
    border: 1px solid #ddd;
    position: absolute;
    right: 100px;
    top: 134px;
    width: 525px;
    padding: 5px 0 5px 5px;
    background: #fff;
    z-index: 999;
    box-shadow: 0 1px 2px rgba(0, 0, 0, 0.07) inset;
}
.tag-suggestion > div {
    float: left;
    padding: 15px 0 5px 20px;
    width: 170px;
}
.tag-suggestion > div:focus {
    background-color: #ffe6bf;
}
.tag-suggestion > div:hover {
    background-color: #fff0d9;
    padding: 15px 0 5px 20px;
}
.tag-suggestion > div p {
    font-size: 11px;
    line-height: 1.3;
    padding-top: 15px;
}
.tag-suggestion > div {
    cursor: pointer;
}
.tag-suggestion .item-multiplier {
    font-weight: bold;
    background: #E4EDF4;
    padding: 5px;
    color: #3E6D8E;
}
.item-multiplier-x, .item-multiplier-count{
    color: #777;
    font-weight: normal;
    padding-left: 5px;
}
/*/////////////*/
/*.scrollable{
    overflow: hidden;
}*/
.new .panel, .edit .panel{
    border: 0 !important;
    background: 0;
}
.panel-default .panel-heading{
    font-size: 23px;
    font-weight: 400;
    line-height: 29px;
    padding: 9px 15px 4px 10px;
    border: 0;
    background: 0;
}
.form-group #title{
    background-color: #fff;
    font-size: 15px;
    height: 37px;
    line-height: 100%;
    margin: 0 0 3px;
    outline: 0 none;
    padding: 3px 8px;
    width: 100%;
    transition: border-color 0.05s ease-in-out 0s;
}
.md-editor > textarea{
    border-width: 1px 0 0 !important;
    border-style: solid !important;
}
.md-editor #content{
    background: #fff;
    padding: 10px;
}
.posts .ibox{
    border: 1px solid #e5e5e5;
    box-shadow: 0 1px 1px rgba(0, 0, 0, 0.04);
}
.ibox-title{
    border-width: 0 !important;
    min-height: 34px;
    padding-top: 6px;
}
.ibox-title h5{
    color: #23282d;
}
.btn-icon{
    width: 14px;
    padding-top: 0;
}
.posts .input-group-btn .btn-icon{
    padding: 0px;
}
.posts .form-horizontal .form-group {
    margin-left: -5px;
    margin-right: -5px;
}
ul.list-group li{
    list-style: none;
}
.fa{
    padding-right: 10px;
}
ul.list-group li a{
    color: #0073aa;
    text-decoration: underline;
}
.tag-editor .form-control {
    float: left;
    height: 28px;
    margin-right: 4px;
    width: 100%;
}
input[type="search"]:focus{
    background-color: #5b9dd9;
    box-shadow: 0 0 2px rgba(30, 140, 190, 0.8);

}
.button{
    background: #f7f7f7 none repeat scroll 0 0;
    box-shadow: 0 1px 0 #fff inset, 0 1px 0 rgba(0, 0, 0, 0.08);
    color: #555;
    border-radius: 3px;
    border: 1px solid #ddd;
    box-sizing: border-box;
    cursor: pointer;
    display: inline-block;
    font-size: 13px;
    height: 28px;
    line-height: 26px;
    margin: 0;
    padding: 0 10px 1px;
}
.posts .form-group p{
    color: #666;
    font-style: italic;
}
.post-tag{

}
.posts .fa-times{
    cursor: pointer;
    height: 20px;
    margin: 10px 0 0 6px;
    text-indent: 0;
    width: 20px;
}
.media-tools{
    padding: 0 0 8px 15px;
}
.media-tool{
    cursor: pointer;
}
.btn-mini {
    height: 30px;
}
#myAwesomeDropzone{
    border: 4px dashed #b4b9be;
    min-height: 200px;
    font-size: 14pt;
}
.btn-right {
    right: 0;
    left: auto !important;
    top: 0;
}
.upload-tools-border {
    border-bottom: 1px solid rgb(224, 228, 231);
}
#media-body {
    min-height: 200px;
}
.media-message {
    vertical-align: middle;
    margin-top:50px;
    font-size: 14pt;
}
.tag-close {
    margin: 1px -6px;
}
.logo-backend {
    margin-top: 15px;
}

#form-grid thead tr:first-child th {
    cursor: pointer;
    outline: 0;
}
#form-grid th:after {
    font-family: FontAwesome;
    color: #333;
    position: relative;
    font-weight: normal;
    float: right;
}
#form-grid .sorting:after {
    content: "\f0dc";
    color: #ccc;
}
#form-grid .sorting_asc:after {
    content: "\f0de";
}
#form-grid .sorting_desc:after {
    content: "\f0dd";
}

#form-grid .per-page-select {
    width: 60px;
}

#form-grid .table tr.row-selected td{
    background-color:#ffffcc !important;
}

#form-grid .table tr.row-selected .progress{
    background-color: #fff;
}
